$primaryColor: #4f4f4f;
$secondaryColor: #9e9e9e;
$btnActiveColor: #3d5afe;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.wrapper {
    display: flex;
    font-family: "Noto Sans JP", sans-serif;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu Mono', monospace; */
.sidebar {
    margin-right: 6rem;
    width: 20rem;
    background: #fafbfd;
    padding: 2rem 3rem;
    header {
        margin-top: 2rem;
        margin-bottom: 10rem;
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;

        span {
            color: red;
        }
    }
    .navigation-links {
        a {
            text-decoration: none;
            display: block;
            color: $secondaryColor;
            margin: 2rem 0;
            display: block;
            font-size: 1.2rem;
            font-weight: 500;

            &.selected {
                color: #090f31;
            }
        }
    }
}

.main {
    header {
        margin: 4rem 0;
        font-family: "Poppins", sans-serif;
        h1 {
            font-weight: 400;
            font-size: 2.5rem;
        }
    }
    .btn-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 2rem 0;

        .btn {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 5rem;
            p {
                font-weight: 300;
                font-family: "Ubuntu Mono", monospace;
                color: #333;
            }
            .hover-focus-state {
                color: $primaryColor;
                color: red;
            }

            button {
                margin-top: 1rem;
                padding: 1rem 2rem;
                border: none;
                border-radius: 0.5rem;
                font-weight: 700;
                color: $primaryColor;
                &:focus,
                &:active {
                    outline: none;
                }
            }
            .btn--default-focused {
                background: $secondaryColor;
            }
            .btn--outline {
                background: #fff;
                color: $btnActiveColor;
                border: 1px solid $btnActiveColor;

                &-focused {
                    color: $btnActiveColor;
                    border: 1px solid $btnActiveColor;
                    background: rgba($color: #2962ff, $alpha: 0.1);
                }
            }
            .btn--text {
                background: #fff;
                color: $btnActiveColor;
                &-focused {
                    color: $btnActiveColor;
                    background: rgba($color: #2962ff, $alpha: 0.1);
                }
            }
            .btn--active {
                background: $btnActiveColor;
                color: #fff;
                &-focused{
                    background:#3048CB;
                    color: #fff;
                }
            }
            .btn--disabled {
                background: #e0e0e0;
                color: $secondaryColor;

                &-focused {
                    color: $secondaryColor;
                    background: #fff;
                }
            }
            .btn--grocery-left:before {
                font-family: "Font Awesome 5 Free";
                content: "\f217";
                padding-right: 0.4rem;
                display: inline-block;
            }
            .btn--grocery-right:after{
                font-family: "Font Awesome 5 Free";
                content: "\f217";
                padding-left: 0.4rem;
                display: inline-block;
            }
            .size-sm{
                transform: scale(0.8);
            }
            .size-md{
                transform: scale(0.9);
            }
            .size-lg{
                transform: scale(1);
            }
            .btn--secondary{
                background: #455A64;
                color: #fff;

                &-focused{
                    color: #fff;
                    background: #1C313A;
                }
            }
            .btn--danger{
                background: #D32F2F;
                color: #fff;

                &-focused{
                    color: #fff;
                    background: #9A0007;
                }
            }

        }
    }
}
