*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
     font-family: "Space Mono", monospace;
     height: 100vh;
     overflow:hidden ;
}
.container{
    max-width: 80vw;
    height: 100%;
    margin:2rem  auto;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}
.image-area{
    width: 45rem;
}
img{
    display: block;
    width: 100%;
}
.content{
    width: 55rem;
    padding: 4rem 5rem;
    font-size: 2rem;
}
.text-content{
    padding: 3rem 0;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: #333;
    padding:1rem 2rem  ;
}

@media only screen and (max-width : 425px ){
    body{
        overflow: auto;
    }

    .wrapper{
        margin-top: 4rem;
        display: block;
    }
    .image-area{
        width: 80vw;
        margin-bottom: 2rem;
    }
    .content{
        width: auto;
        padding: 1rem;
    }
    a{
        font-size: 1.6rem;
    }
}

