/* reseting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  justify-content: center;
}
/*
*/
html{font-size: 62.5%;}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
img{
  display: inline-block;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 300;
  background: #181719;

}

.container{
  max-width: calc(100% - 10vw);
  margin:2rem auto 10rem;

}
.main-nav{
  display: flex;
  justify-content: space-between ;
  align-items: center;
}
.main-nav h1{
  font-family: 'Crimson Pro', serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: .5rem ;
  border: 1px solid #fff;
}
.hamburger-menu .menu-icon{
  display: flex;
  flex-direction: column;
}
.hamburger-menu .menu-icon span{
  margin: .2rem 0;
  width: 2.2rem;
  height: .2rem;
  background: #fff;
  pointer-events: none;
}
.hamburger-menu  .cancel-btn{
  position: fixed;
  top: 4%;
  right: 6%;
  z-index: 14;
  font-size: 2rem;
  display: none;
}
.hamburger-menu .navigation-links{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #181719;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 700;
  display: none;
}
.hamburger-menu .navigation-links li{
  margin-bottom: 2rem;
}

.hero-content{
  margin-top: 2rem;

}
.hero-content .tagline{
  font-family: 'Lora', serif;
  font-weight: 300;
  font-size: 3.2rem;
}
.hero-content .description p{
  margin: 2rem 0;
  font-size: 1.2rem;
  width: 24rem;
  line-height: 1.8rem;
}
.hero-content .description a{
  font-size: 1.2rem;
  font-weight: 400;
  display: inline-block;
}
.hero-image{
  margin: 4rem 0;
}
.hero-image > .image-area{
  width: 100%;
  position: relative;
}
.hero-image .designer-details{
  position: absolute;
  top: 75%;
  right: 3%;
  width: 22rem;
  height: 10rem;
  background: #181719;
  padding: 1.5rem 1rem;
  /* box-shadow:  0  0 ; */
}
.hero-image .designer-details .image-area{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero-image .designer-details img{
  width: 20%;
  border-radius: 50%;
  margin-right: 2rem;
}
.hero-image .designer-details .name{
  display: flex;
  flex-direction: column;
}
.hero-image .designer-details strong{
  margin-bottom: 1rem;
}
.hero-image .designer-details h4{
  font-size: 1.6rem;
  font-family: "Lora", sans-serif;
  font-weight: 200;
  margin: 1.5rem 0 ;
}
.bottom-line{
  width: 60%;
  height: 1px;
  display: block;
  margin:0 auto 1rem;
  background: #A9A9A9;
}
footer{
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (min-width : 426px){
  body{

  }
  .hamburger-menu .menu-icon{
    display: none;

  }
  .hamburger-menu .cancel-btn{
    display:none;
  }
  .hamburger-menu .navigation-links{
    flex-direction: row;
    display: flex;
    position: static;
    height: auto;
    width: auto;
  }
  .hamburger-menu .navigation-links li{
    margin: 0 2.5rem;
  }
  .hero-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero-content .description{
    margin-top:4rem ;
  }
  .hero-content .description p{
    font-size: 1.6rem;
  }

  .hero-content .hero-image >.image-area{
    width: 60rem;
  }
  .hero-content .designer-details{
    width: 28rem;
    height: 11rem;
    top: 80%; 
    padding: 1.5rem 2rem;
  }
  .hero-content .designer-details h4{
    margin: 1rem 0;
    padding-right: 11rem;
  }
}




